[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pyinstaller = "*"
auto-py-to-exe = "*"

[packages]
pandas = "==0.24.0"
cython = "*"
pymrmr = "*"
fbs = "==0.8.3"
pyqt5 = "~=5.9.2"
pyinstaller = "~=3.4"
capturer = "*"
scikit-learn = "*"
tabulate = "*"
numpy = "==1.15.1"
pylzma = "*"
"backports.lzma" = "*"
setuptools = "*"

[requires]
python_version = "3.6"

[packages.scikit-feature]
git = "https://github.com/jundongl/scikit-feature"
